@model EmailCheck

@{
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h3 class="alert-danger" style="padding: 20px">@error</h3>
}
<div class="d-flex justify-content-center">
    <div class="d-inline-flex flex-column" style="max-width: 165px;">
        <h5>Check your mail!</h5>
        <form action="/CheckEmailCode" method="post">
            <div class="input-group mb-3">
                <div class="d-inline-flex flex-column">
                    <label for="CodeInput" class="form-label">Insert verification code:</label>
                    <input type="text" id="CodeInput" class="form-control form-control-lg text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="code">
                </div>
            </div>
            <input type="text" style="display: none;" name="username" value="@Model.Username">
            <button class="btn btn-primary" type="submit" style="width: 100%">Submit</button>
        </form>
    </div>
</div>