@{
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding: 20px">@error</h2>
}
<div class="d-flex justify-content-center">
    <div class="">
        <h5>Create your account</h5>
        <form action="/CreateAccount" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="~/images/icons/person-fill.svg"/></span>
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="~/images/icons/envelope.svg"/></span>
                <input type="text" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="~/images/icons/lock-fill.svg"/></span>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="~/images/icons/lock-fill.svg"/></span>
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
        
    </div>
</div>
