@model Marketplace.Models.PostEditViewModel
@{
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h3 class="alert-danger" style="padding: 20px">@error</h3>
}

<div class="d-flex justify-content-center">
    <form class="w-50" method="post" asp-action="CreatePost" enctype="multipart/form-data" asp-controller="Posts">
        <label for="Categories" class="form-label">Category</label>
        <select id="Categories" class="form-select" aria-label="Default select example" asp-for="SelectedCategoryId">
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <option value="@Model.Categories[i].Id">@Model.Categories[i].CategoryName</option>
            }
        </select>

        <div class="mb-3">
            <label for="TestInput" class="form-label">Name</label>
            <input asp-for="Post.Title" type="text" class="form-control" id="TestInput"/>
            <div id="adsTitleHelp" minlength="3" class="form-text">Name is important</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Images</label>
            <input class="form-control" type="file" id="inputImages" multiple name="uploads"/>
            <div id="adsDescriptionHelp" class="form-text">Select images</div>
        </div>
        <div class="mb-3">
            <label type="text" class="form-label">Details</label>
            <input asp-for="Post.Description" type="text" minlength="10" class="form-control form-text form-check-inline" id="inputDescription"/>
        </div>
        <div class="mb-3">
            <label type="text" class="form-label">Phone Number</label>
            <input asp-for="Post.PhoneNumber" type="text" minlength="10" class="form-control form-text form-check-inline" id="inputPhoneNumber"/>
            </div>
        <div class="mb-3">
            <label asp-for="Post.Price" class="form-label">Price</label>
            <input type="number" min="0" class="form-control form-text form-check-inline" id="inputPrice" asp-for="Post.Price"/>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    
</div>
