@model OpenPostViewModel


<style>
    .carousel-item img {
        max-height: 600px;
    }
    .carousel .carousel-item {
        height: 500px;
    }
</style>

<div class="container-fluid w-75">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <img src="@Model.Images[i].Path" class="d-block w-100 img-fluid" alt="...">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@Model.Images[i].Path" class="d-block w-100 img-fluid" alt="...">
                    </div>
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="text-center fs-3">@Model.Post.Title</p>
</div>